
<div class="form">
  
  <p>AUTORE:</p>
  <div class="content">
    <a>  {{ post.autore }} </a>
  </div>

<p>TESTO:</p>
  <div class="content">
    <a> {{ post.testo }} </a>
  </div>

  <div>
    <h3> <button (click)="miPiace()">LIKE</button>  {{ post.like }} likes </h3>
    <button (click)="mostra()">mostra</button>
  </div>
  <ng-container *ngIf="show">
    <h3>Aggiungi Commento</h3>
    <p>Commento</p>
    <input type="text" name="desc" #newcommento>
    <h3><button (click)="aggiungiCommento(newcommento)">Aggiungi commento</button><h1>{{lungezza}}</h1></h3>
    <app-com *ngFor="let com of this.post.commenti" [commenti] = 'com'></app-com>
</ng-container>
</div>
