.form{
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 10px 0;
    left: 50%;
}
.content{
    font-size:20px ;
}
button{
    border: 1px solid black;
    font-size: 16px;
    border-radius: 60px;
    font-weight: 100;
}  

button:hover{
    background-color: lightskyblue;
}